@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
:root {
    --main: #ec5e2c;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('../Images/Product.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: inter;
}

.logo{
    width: 20vw;
}
.Login,
.Signup {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add background color for better readability */
}

.error {
    color: red;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

input{
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
}

button {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--main);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 5px;
    width: 10rem;
    transition: 0.6s;
  }
  
button:hover {
    
    opacity: 0.8;
    transition: 0.6s;
  }


  #switch-to-signup , #switch-to-login{
    color: black;
    text-decoration: none;
    transition: .6s;
  }
  
  #switch-to-signup ,#switch-to-login:hover {
    color: var(--main); 
    text-decoration: underline; 
    transition: .6s;
  }